body {
    background-color: rgb(244, 238, 231);
    font-family: Microsoft JhengHei, 新細明體, 'Arial Narrow Bold', sans-serif;
}

.title {
    /* margin: 12px; */
    /* padding: 24px 0px; */
    color: #fff;
    background-color: rgb(12, 55, 163);
    font-family: 標楷體;
    /* h1 ==>32px */
    font-size: 2rem;
    height: 4rem;
    /*64px */
    border-radius: 0.8rem;
    /* 垂直置中 line-height 比起padding單純多*/
    line-height: 64px;
    /* 水平置中 */
    text-align: center;
}

.sub-title {
    display: inline-block;
    margin: 6px 0px;
    padding: 0px 6px;
    border-radius: 4px;
    background-color: rgb(50, 50, 172);
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 1.5rem;

}

.text-1 {
    background-color: blanchedalmond;
    margin: 6px 0px;
    padding: 12px;
    border: 2px solid salmon;
}

.text-2 {
    background-color: rgb(122, 94, 215);
    padding: 6px;
    border-radius: 6px;

}

.text-3 {
    color: red;
    font-size: 24px;
    font-style: italic;
}

.text-4 {
    text-align: left;
    line-height: 24px;
}

.text-4 a {
    background-color: crimson;
    color: white;
    padding: 3px;
}

#container {
    width: 80%;
    margin: 12px auto;
    text-align: center;
}

ol {
    text-align: left;
}

li {
    margin-left: 40px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul a {
    text-decoration: none;

}

ul a:hover {
    color: green
}

ul a:visited {
    color: red;
}

ul a:active {
    color: skyblue;
}

#image {
    background-color: gray;
    padding: 6px;
}

#image img {
    background-color: white;
    padding: 3px;
    width: 30%;
}

#main-table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    margin-top: 10px;
}

#main-table th {
    background-color: chocolate;
    color: aliceblue;
}

#main-table td {
    background-color: aqua;
    font-size: 12px;
}

#main-table td:first-child {
    background-color: blueviolet;
    color: white
}

#main-table td:last-child {
    background-color: rgb(213, 83, 109);
}

#main-table td:nth-child(2) {
    background: cadetblue;
}

form {
    background-color: rgb(197, 94, 126);
    padding: 12px 0;
    margin: 6px;
    border-radius: 6px;
    color: white;
    text-align: center;
}

input,
textarea,
label {
    font-size: 20px;
    text-align: center;
    margin: 6px;
}

button[type="submit"] {
    background-color: greenyellow;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
}